<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678065508171-0nli22h58frq47vcp1udbqnde0l7b7v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678065508171-0nli22h58frq47vcp1udbqnde0l7b7v5</string>
	<key>API_KEY</key>
	<string>AIzaSyAcxMTD47P-GmdSSzVw5Zu9U4f1Hp6oUfs</string>
	<key>GCM_SENDER_ID</key>
	<string>678065508171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>john.Valentino</string>
	<key>PROJECT_ID</key>
	<string>valentino-de0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>valentino-de0ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678065508171:ios:4efaf6d97d04e8fd9e62ce</string>
</dict>
</plist>